@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: small;
  font-style: normal;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: GmarketSansMedium;
  }

  .sidebar {
    display: none;
  }

  :root {
    --whiteColor: #ffffff;
    --redColor: #fe2c55;
    --blackColor: #161823;
    --grayColor: #cccccc;
    --lightBlue: #36d1dc;
    --limeGreen: limegreen;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-snap-type: y mandatory;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .videos {
    height: 100vh;
    width: 100vw;
  }

  .vdo-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
    background: black;

  }

  .vdo {
    padding-top: 50%;
    pointer-events: none;
    position: absolute;
    height: 69%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  #pause-play-btn {
    bottom: 6rem;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  #pause-play-btn i {
    font-size: 5rem;
    color: #fff;
    animation: fade-out 0.5s forwards linear;
  }

  .side-btns-wrapper {
    position: absolute;
    right: 0;
    bottom: 8rem;
    padding: 1rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .control-btn {
    font-size: 2rem;
    color: #ffffff;
  }

  .info-wrapper {
    border-top: solid #5f5353;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: black;
  }

  .info-wrapper a img {
    width: 80px;
    border-radius: 100%;
  }

  .blury {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    z-index: 3;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .comments {
    position: absolute;
    z-index: 4;
    left: 1rem;
    right: 7rem;
    bottom: 12rem;
    background: #fff;
    border-radius: 15px;
    padding: 1rem;
    padding-bottom: 10rem;
    display: none;
    animation: pop 0.2s forwards linear;
  }

  .toggle-comments {
    display: block !important;
  }

  .loader {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    display: grid;
    place-items: center;
    font-size: 6rem;

  }

  .loader i {
    animation: spin 1.3s infinite linear;
  }

  .color-switch {
    color: rgb(253, 70, 3) !important;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #menu li {
    list-style-type: none;
  }

  .hbody {

    color: white;
    position: fixed;
    z-index: 9;
    background-color: black;
    width: 100%;
    height: 5rem;
    font-size: 2rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;
    flex-direction: column;
  }

  .head_txt {
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }


  @keyframes fade-out {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    50% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(2);
    }
  }

  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    40% {
      opacity: 1;
      transform: scale(1.2);
    }

    80% {
      opacity: 1;
      transform: scale(0.8);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(1turn);
    }
  }


  .container .menu-bar {
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem .5rem;
    background-color: #000000;
    z-index: 1;
  }

  .container .menu-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .container .menu-bar ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    color: var(--whiteColor);
    opacity: .8;
    cursor: pointer;
    transition: all .5s ease;
  }


  .container .menu-bar ul li i {
    font-size: 1.6rem;
  }

  .container .menu-bar ul li span {
    text-transform: capitalize;
  }

  .container .menu-bar ul li:nth-child(3) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 3rem;
    background-color: var(--whiteColor);
    opacity: 1;
    border-radius: .7rem;
  }

  .container .menu-bar ul li:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -.7rem;
    left: -.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border-width: .2rem;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--redColor);
    border-right-color: var(--lightBlue);
  }

  /*Start Home Section*/

  .content .home video,
  .content .friends video {
    background: black;
    width: 100%;
    height: 150vw;
  }

  .content .home .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
  }

  .content .home .top-bar .live .inner-live {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--whiteColor);
    font-weight: 700;
    cursor: pointer;
  }

  .content .home .top-bar .following-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .content .home .top-bar .following,
  .content .home .top-bar .for-you {
    position: relative;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--whiteColor);
    cursor: pointer;
    transition: all .3s ease;
  }

  .content .home .top-bar .following {
    color: var(--grayColor);
  }

  .content .home .top-bar .following::before {
    content: "";
    position: absolute;
    top: 0;
    right: -.5rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--redColor);
  }

  .content .home .top-bar .for-you.active::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.3rem;
    width: 3rem;
    height: .2rem;
    background-color: var(--whiteColor);
  }

  .content .home .top-bar .search {
    font-size: 1.8rem;
    color: var(--whiteColor);
    cursor: pointer;
  }

  .content .home .right-bar,
  .content .friends .right-bar {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .content .home .right-bar ul,
  .content .friends .right-bar ul {
    text-align: center;
  }

  .content .home .right-bar ul li,
  .content .friends .right-bar ul li {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: var(--whiteColor);
    cursor: pointer;
    margin-bottom: 2rem;
  }

  .content .home .right-bar ul li i,
  .content .friends .right-bar ul li i {
    font-size: 2.2rem;
  }

  .content .home .right-bar ul li span,
  .content .friends .right-bar ul li span {
    font-size: 1.3rem;
  }

  .content .home .right-bar ul li:first-child,
  .content .friends .right-bar ul li:first-child {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .2rem solid var(--whiteColor);
  }

  .content .home .right-bar ul li:first-child img,
  .content .friends .right-bar ul li:first-child img {
    width: 100%;
    border-radius: 50%;
  }

  .content .home .right-bar ul li:first-child::before {
    content: "+";
    position: absolute;
    bottom: -.7rem;
    width: 3rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: var(--redColor);
    color: var(--whiteColor);
    font-size: 1.8rem;
    font-weight: 600;
  }

  /*End Home Section*/
  /*Start Friends Section*/
  .content .friends .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
  }

  .content .friends .top-bar .add {
    color: var(--whiteColor);
    font-size: 1.3rem;
    cursor: pointer;
  }

  .content .friends .top-bar .search {
    padding: 1rem;
    background-color: #696868cc;
    border-radius: .5rem;
  }

  .content .friends .top-bar .search input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1rem;
    color: var(--whiteColor);
  }

  .content .friends .top-bar .search input::placeholder {
    color: var(--whiteColor);
  }

  .content .friends .top-bar .search input:focus::placeholder {
    opacity: 0;
  }

  .content .friends .top-bar .search i {
    font-size: 1.3rem;
    color: var(--whiteColor);
  }

  .content .friends .top-bar .info {
    font-size: 1.6rem;
    color: var(--whiteColor);
    cursor: pointer;
  }

  /*End Friends Section*/
  /*Start Inbox Section*/
  .inbox .header-inbox {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: .1rem solid #f0f0f0;
  }

  .inbox .header-inbox h2 {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto;
  }

  .inbox .header-inbox h2::before {
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: var(--limeGreen);
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .inbox .header-inbox i {
    font-size: 1.8rem;
    cursor: pointer;
  }

  .inbox .live {
    BACKGROUND: dimgray;
    margin-top: 5%;
    padding: 1rem;
  }

  .inbox .live .live-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;
  }

  .inbox .live .live-profile .profile-img {
    position: relative;
  }

  .inbox .live .live-profile .profile-img img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .inbox .live .live-profile .profile-img::before {
    content: "";
    position: absolute;
    bottom: .2rem;
    right: .3rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: var(--limeGreen);
    border: .3rem solid var(--whiteColor);
  }

  .inbox .live .live-profile span {
    font-size: 1.1rem;
    text-transform: capitalize;
  }

  .inbox .data {
    position: relative;
    height: 41rem;
    width: 100%;
  }

  .inbox .main-inbox {
    position: relative;
    padding: 1rem .5rem;
    height: 100%;
    overflow-y: auto;
  }

  .inbox .main-inbox::-webkit-scrollbar {
    display: none;
  }

  .inbox .main-inbox .msg-box {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .inbox .main-inbox .msg-box .icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: var(--whiteColor);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inbox .main-inbox .msg-box:first-child .icon {
    background-color: var(--lightBlue);
  }

  .inbox .main-inbox .msg-box:nth-child(2) .icon {
    background-color: var(--redColor);
  }

  .inbox .main-inbox .msg-box .icon img {
    width: 85%;
    border-radius: 50%;
  }

  .inbox .main-inbox .msg-box .details h3 {
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
  }

  .inbox .main-inbox .msg-box .details p {
    font-size: 1.2rem;
    color: var(--grayColor);
  }

  /*End Inbox Section*/
  /*Start Profile Section*/
  .profile .top-header {
    display: none;
  }

  .profile .top-header h3 {
    display: none;
  }

  .profile .top-header .icons {
    display: none;
  }

  .profile .top-header .icons i {
    display: none;
  }

  .profile .profile-info .profile-img {
    padding: 1rem 0;
    text-align: center;
  }

  .profile .profile-info .profile-img .inner-img {
    margin-top: 5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
  }

  .profile .profile-info .profile-img .inner-img img {
    width: 100%;
  }

  .profile .profile-info .profile-img h3 {
    font-size: 1.3rem;
  }

  .profile .profile-info ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile .profile-info ul li {
    text-align: center;
    flex: 1;
  }

  .profile .profile-info ul li h5 {
    font-size: 1.3rem;
    margin-bottom: .3rem;
  }

  .profile .profile-info ul li span {
    font-size: 1.1rem;
    text-transform: capitalize;
    color: var(--grayColor);
  }

  .profile .profile-info .buttons {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .profile .profile-info .buttons .btn {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: 600;
  }

  .profile .profile-info p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .profile .profile-videos ul {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile .profile-videos ul li {
    font-size: 1.3rem;
    color: var(--grayColor);
    cursor: pointer;
    transition: all .3s ease;
  }

  .profile .profile-videos ul li.active {
    color: var(--blackColor);
  }

  .profile .profile-videos .content {
    position: relative;
    width: 100%;
    height: 20rem;
  }

  .profile .profile-videos .videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20.33rem, 100%), 1fr));
    gap: .2rem;
    background-color: var(--whiteColor);
    position: relative;
    height: 100%;
    overflow-y: auto;
  }

  .profile .profile-videos .videos-container::-webkit-scrollbar {
    display: none;
  }

  .profile .profile-videos .videos-container .video video {
    width: 100%;
  }

  .story_container {

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .input_text {
    margin-top: 2rem;
  }

  .story_video {
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 0 auto;
    width: 100%;
  }

  .create_video {
    width: 100%;
  }

  .select_v {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;

  }

  .option-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    float: right;
    margin-top: -3rem;
    flex-direction: column;
  }

  .option-image {
    border-radius: 100%;
    width: 53px;
    margin-right: 15px
  }

  .input_story {
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px
  }

  .select_mood1 {
    width: 38%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
  }

  .base_btn {
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #9a78ff;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 200px;
  }

  .upload_btn {
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #ff5e00;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
  }

  .cnImg {
    border-radius: 25%;
    margin-top: 10%;
    margin-left: 13%;
    width: 70%;
    height: 70%;
  }

  .story_text {
    width: 111%;
    margin-left: 10%;
    margin-top: 15%;
  }

  .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20%;
  }

  .result_vdo {
    margin-top: 25%;
  }

  .result_btn {
    float: left;
    margin-left: 25%;
    width: 35%;
    padding: 10px;
    border: none;
    background-color: #e13333;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .story_btn {
    margin-left: 5%;
    width: 35%;
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loading-text {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }

  /* 진행 상황 표시 스타일 */
  .progress {
    width: 100%;
    background-color: #f3f3f3;
  }

  .progress-bar {
    width: 0%;
    height: 30px;
    background-color: #3498db;
    /* Blue */
    text-align: center;
    line-height: 30px;
    color: white;
  }

  /*End Profile Section*/
  #page {
    position: absolute;
    opacity: 90%;
    align-items: center;
    background: linear-gradient(to top right, #fc636b 10%, #ff6d92 65%, #ffb900 125%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 1s;
    z-index: -2;
  }

  #phrase_box {
    margin-top: 300px;
    display: flex;
    flex-flow: column;
    height: 150px;
    overflow: hidden;
    width: 260px;
  }

  #phrases {
    animation: slide-phrases-upward 25s linear;
  }

  #footer {
    bottom: 30px;
    color: white;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
  }

  @keyframes slide-phrases-upward {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-1000px);
    }
  }

  #loadingCheckCircleSVG-0,
  #loadingCheckCircleSVG-1,
  #loadingCheckCircleSVG-2,
  #loadingCheckCircleSVG-3,
  #loadingCheckCircleSVG-4,
  #loadingCheckCircleSVG-5,
  #loadingCheckCircleSVG-6,
  #loadingCheckCircleSVG-7,
  #loadingCheckCircleSVG-8,
  #loadingCheckCircleSVG-9,
  #loadingCheckCircleSVG-10 {
    animation: fill-to-white 55000ms;
  }

  @keyframes fill-to-white {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  #loadingCheckSVG-0,
  #loadingCheckSVG-1,
  #loadingCheckSVG-2,
  #loadingCheckSVG-3,
  #loadingCheckSVG-4,
  #loadingCheckSVG-5,
  #loadingCheckSVG-6,
  #loadingCheckSVG-7,
  #loadingCheckSVG-8,
  #loadingCheckSVG-9,
  #loadingCheckSVG-10 {
    animation: fill-to-coral 5000ms;
  }

  @keyframes fill-to-coral {
    0% {
      fill: white;
    }

    10% {
      fill: #ff6d92;
    }

    100% {
      fill: #ff6d92;
    }
  }

  .cube {
    background: linear-gradient(to top right, #fc636b 10%, #ff6d92 65%, #ffb900 125%);
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-size: 0.25vh;
  }

  .cube * {
    position: absolute;
    transform-style: preserve-3d;
  }

  .scene,
  .dodecahedron {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scene {
    place-self: center;
    width: 100em;
    aspect-ratio: 1;
    perspective: 250em;
    z-index: -1;
    margin-top: -165%;
  }

  .dodecahedron {
    --ngon: 5;
    --unit: calc(1em * var(--unitScale));
    --triAngle: calc(360deg / var(--ngon));
    --a3gon: calc(sin(calc(var(--triAngle) / 2)) * 100);
    --h3gon: calc(cos(calc(var(--triAngle) / 2)) * 50);
    --h5gon: calc(var(--h3gon) + 50);
    --pentAngle: asin(calc(var(--h3gon) / var(--h5gon)));
    --pentH: calc(cos(var(--pentAngle)) * var(--h5gon));
    --median: calc((var(--a3gon) * sin(var(--triAngle)) + var(--h5gon)) / 2);
    --Hratio: calc(var(--median) / var(--h5gon));
    --dodecaH: calc(var(--pentH) * var(--Hratio));
    --unitScale: calc(50 / var(--dodecaH));
    inset: calc(50 * (1em - var(--unit)));
    transform: rotateX(60deg);
  }

  .lid {
    transform: rotateX(calc(-90deg * var(--dir))) translateZ(calc(var(--dodecaH) * var(--unit)));
  }

  .wall:nth-child(2n + 1) {
    --dir: 1;
  }

  .wall:nth-child(2n) {
    --dir: -1;
  }

  .side {
    transform: rotateY(calc(var(--step) * var(--triAngle) + 0.5turn)) rotateX(calc(var(--pentAngle) * -1 + 90deg + 90deg * var(--dir))) translateZ(calc(var(--dodecaH) * var(--unit)));
  }

  .wall {
    inset: 0;
    background-image: radial-gradient(at 0 0, hsla(calc(var(--triAngle) * var(--step)) 100% 50% / 1), hsla(calc(var(--triAngle) * var(--step) + 90deg) 100% 50% / 0));
    background-size: 110px;
    background-position: center;
    clip-path: polygon(calc((1 - sin(calc(0 * 72deg))) * 50%) calc((1 - cos(calc(0 * 72deg))) * 50%), calc((1 - sin(calc(1 * 72deg))) * 50%) calc((1 - cos(calc(1 * 72deg))) * 50%), calc((1 - sin(calc(2 * 72deg))) * 50%) calc((1 - cos(calc(2 * 72deg))) * 50%), calc((1 - sin(calc(3 * 72deg))) * 50%) calc((1 - cos(calc(3 * 72deg))) * 50%), calc((1 - sin(calc(4 * 72deg))) * 50%) calc((1 - cos(calc(4 * 72deg))) * 50%));
  }

  .wall:nth-child(1),
  .wall:nth-child(2) {
    --step: 0;
  }

  .wall:nth-child(3),
  .wall:nth-child(4) {
    --step: 1;
  }

  .wall:nth-child(5),
  .wall:nth-child(6) {
    --step: 2;
  }

  .wall:nth-child(7),
  .wall:nth-child(8) {
    --step: 3;
  }

  .wall:nth-child(9),
  .wall:nth-child(10) {
    --step: 4;
  }

  .wall:nth-child(11),
  .wall:nth-child(12) {
    --step: 5;
  }

  @media (orientation: portrait) {
    body {
      font-size: 4.5vw;
    }
  }

  .wall:nth-child(1) {
    background-image: url("../sample_img/1.png");
  }

  .wall:nth-child(2) {
    background-image: url("../sample_img/2.png");
  }

  .wall:nth-child(3) {
    background-image: url("../sample_img/3.png");
  }

  .wall:nth-child(4) {
    background-image: url("../sample_img/4.png");
  }

  .wall:nth-child(5) {
    background-image: url("../sample_img/5.png");
  }

  .wall:nth-child(6) {
    background-image: url("../sample_img/6.png");
  }

  .wall:nth-child(7) {
    background-image: url("../sample_img/7.png");
  }

  .wall:nth-child(8) {
    background-image: url("../sample_img/8.png");
  }

  .wall:nth-child(9) {
    background-image: url("../sample_img/9.png");
  }

  .wall:nth-child(10) {
    background-image: url("../sample_img/10.png");
  }

  .wall:nth-child(11) {
    background-image: url("../sample_img/11.png");
  }

  .wall:nth-child(12) {
    background-image: url("../sample_img/12.png");
  }

  #resutvid {
    z-index: 3;
  }

  #myForm {
    background: linear-gradient(to top right, #c2ffef 10%, #f9aabe 65%, #ffb900 125%);
  }

  /*여기서부터는 모바일*/



  /* 모바일 화면 크기에 맞추어 조정, 필요에 따라 크기 수정 가능 */
  .profile .profile-videos .videos-container {
    grid-template-columns: repeat(auto-fit, minmax(min(10.33rem, 100%), 1fr));
  }

  .scene {

    margin-top: -120%;
  }
}