
{% extends 'base.html' %} 
    {% block content %}
<section id="inbox" class="box inbox">
    <div class="header-inbox">
        <h2>inbox</h2>
        <i class="fa-regular fa-comments"></i>
    </div>
    <div class="live">
        <div class="live-profile">
            <div class="profile-img">
                <img src="../img/ka.jpg" alt="">
            </div>
            <span>카리나</span>
        </div>
    </div>
    <div class="data">
        <div class="main-inbox">
            <div class="msg-box">
                <div class="icon">
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <div class="details">
                    <h3>새로운 팔로우</h3>
                    <p>카리나님이 팔로우했습니다</p>
                </div>
            </div>
            <div class="msg-box">
                <div class="icon">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <div class="details">
                    <h3>새소식</h3>
                    <p>이게 시발 구현이됨?</p>
                </div>
            </div>
            <div class="msg-box">
                <div class="icon">
                    <img src="../img/emma.jpg" alt="">
                </div>
                <div class="details">
                    <h3>엠마스톤</h3>
                    <p>hi, how are you?</p>
                </div>
            </div>
            <div class="msg-box">
                <div class="icon">
                    <img src="../img/one4.jpg " alt="">
                </div>
                <div class="details">
                    <h3>원빈</h3>
                    <p>뭘 봐</p>
                </div>
            </div>
            <div class="msg-box">
                <div class="icon">
                    <img src="../img/ka3.jpg" alt="">
                </div>
                <div class="details">
                    <h3>카리나</h3>
                    <p>오빠 시간돼?</p>
                </div>
            </div>
            <div class="msg-box">
                <div class="icon">
                    <img src="../img/minji3.jpg" alt="">
                </div>
                <div class="details">
                    <h3>민지</h3>
                    <p>회사가 망했어요</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}