{% extends 'base.html' %}

{% block content %}

  <section id="inbox" class="box inbox">
    <div class="header-inbox">
      <h2>팔로우 목록</h2>
      <i class="fa-regular fa-comments"></i>
    </div>
    <div>
      안녕하세요
    </div>
    <div class="data">
      <div class="main-inbox">
        {% for user in following_users %}
        <div class="msg-box" onclick="location.href='/profile/{{ user.user_code }}'">
          <div class="icon">
            <img src="{{ user.profile_image }}" alt="">
          </div>
          <div class="details">
            <h3>{{ user.user_name }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>



{% endblock content %}
