{% extends 'base.html' %}

{% block content %}

<body>

  <section id="inbox" class="box inbox">
    <div class="header-inbox">
      <h2>임시</h2>
      <i class="fa-regular fa-comments"></i>
    </div>

    <div class="data">
      <div class="main-inbox">
        <!--반복시작-->

        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>
        <!--반복 끝-->


        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>

        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>


        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>


        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>


        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>


        <div class="msg-box">
          <div class="icon">
            <img src="../static/sample_img/1.png" alt="">
          </div>
          <div class="details">
            <h3>엠마스톤</h3>
          </div>
        </div>





      </div>
    </div>
  </section>

  {% endblock content %}