<section class="hbody">
    <article class="nav">
        <div class="container">
            <div class="menu-bar">
                <ul>
                    <a href="index.html">
                    <li class="active" data-sec="home">
                        <i class="fa-solid fa-house"></i>
                        <span>home</span>
                    </li>
                    </a>
                    <a href="friends.html">
                        <li data-sec="friends">
                            <i class="fa-solid fa-user-group"></i>
                            <span>friends</span>
                        </li>
                    </a>
                    <a href="/page/login.html">
                        <li data-sec="login">
                            <i class="fa-solid fa-poo"></i>
                            <span>Login</span>
                        </li>
                    </a>
                    <li data-sec="inbox">
                        <i class="fa-regular fa-message"></i>
                        <span> chat?</span>
                    </li>
                    <a href="profile.html">
                        <li data-sec="profile">
                            <i class="fa-regular fa-user"></i>
                            <span>profile</span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </article>
</section>