<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My App</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <section class="hbody">
      <article class="nav">
        <div class="container">
          <div class="menu-bar">
            <ul>
              <a href="/">
                <li class="active" data-sec="home">
                  <i class="fa-solid fa-house"></i>
                  <span>Home</span>
                </li>
              </a>
              <a href="/upload">
                <li data-sec="inbox">
                  <i class="fa-regular fa-message"></i>
                  <span>Create</span>
                </li>
              </a>
              {% if user_info %}
              <a href="/logout">
                <li data-sec="logout">
                  <i class="fa-solid fa-sign-out-alt"></i>
                  <span>Logout</span>
                </li>
              </a>
              {% else %}
              <a href="/login">
                <li data-sec="login">
                  <i class="fa-solid fa-sign-in-alt"></i>
                  <span>Login</span>
                </li>
              </a>
              {% endif %}
              <a href="/my_profile">
                <li data-sec="profile">
                  <i class="fa-regular fa-user"></i>
                  <span>Profile</span>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
