{% extends 'base.html' %}
{% block content %}
<!-- <h1>생성된 동화</h1>


<audio controls>
  <source src="{{ audio_url }}" type="audio/mp3" />
  "오디오 생성"
</audio>

<form action="/create_video" method="post">
  <button type="submit">영상으로 만들기</button>
</form>
</body>
</html> -->
<section class="result">
  <h1>동영상 생성 완료</h1>
  <p>동화 이야기를 기반으로 한 동영상이 성공적으로 생성되었습니다!</p>

  <h2>동영상 재생</h2>
  <video controls>
    <source src="{{ video_url }}?{{ timestamp }}" type="video/mp4" />
    해당 브라우저에서 비디오를 지원하지 않습니다.
  </video>
</section>
{% endblock content %}