
{% extends 'base.html' %} 
    {% block content %}
    <!--마이페이지 시작-->

    <form action="/story" method="post">
    <div class="story_container" style="display: flex">
      <div class="input_text" id="step1" style="flex: 1; padding: 20px">
        <input
          type="text"
          name="keywords"
          placeholder="나만의 단어와 문장을 입력해주세요... 예시)하늘을 날고싶은 오리의 이야기, "
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 30px;
          "
        />
        <button
          onclick="showNextStep('step2')"
          style="
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            margin-top: 30px;
          "
        >
          다음
        </button>
      </div>
    </div>
    <div style="margin-left: 20px;">
      <label for="voices">목소리 선택:</label>
      <select
      name="selected_voice"
      style="
        width: 10%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 30px;
      "
      >
    </div>

      <option value="alloy">alloy</option>
      <option value="echo">echo</option>
      <option value="fable">fable</option>
      <option value="onyx">onyx</option>
      <option value="nova">nova</option>
      <option value="shimmer">shimmer</option>
  </select>
    </form>

    {% endblock content %}