<div class="sidebar">
  <ul class="nav-list">
    <li>
      <a href="/main" id="iforum">
        <i class="bx bx-chat"></i>
        <span class="links_name">A-Iforum</span>
      </a>
    </li>


    <li>
      <a href="/">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Shorts</span>
      </a>
    </li>

    {% if user_info %}
    <li>
      <a href="/upload">
        <i class="bx bx-chat"></i>
        <span class="links_name">동화 만들기</span>
      </a>
    </li>
    <li>
      <a href="/my_profile" id="profile-link1">
        <i class="bx bx-user"></i>
        <span class="links_name">마이페이지</span>
      </a>
    </li>

    <li>
      <a href="/logout">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name login-t">Logout</span>
      </a>
    </li>
    {% else %}

    <li>
      <a href="javascript:void(0);" id="profile-link1">
        <i class="bx bx-user"></i>
        <span class="links_name">마이페이지</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" id="upload-link">
        <i class="bx bx-chat"></i>
        <span class="links_name">동화 만들기</span>
      </a>
    </li>
    <li>
      <a href="/login">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name login-t">Login</span>
      </a>
    </li>
    {% endif %}
    <!-- <li>
      <a href="#">
        <i class="bx bx-chat"></i>
        <span class="links_name">인기순</span>
      </a>
    </li> -->



    <li class="profile">
      <div class="profile-details">
        <img src="{{ profile_image }}" alt="profileImg" />
        <div class="name_job">
          <div class="name">{{ profile_user_info.user_name }}</div>
          <div class="job">팔로우: {{ follow_count }}
            팔로워: {{ follower_count }}
            좋아요: {{ total_likes }}</div>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const isLoggedIn = JSON.parse("{{ user_info|tojson|safe }}"); // 서버에서 user_info를 통해 로그인 여부 확인
    if (!isLoggedIn) {
      const profileLink = document.getElementById("profile-link1");
      const likedVideosLink = document.getElementById("liked-videos-link");
      const iforum = document.getElementById("iforum");
      const uploadLink = document.getElementById("upload-link"); // 동화 만들기 링크 추가

      if (iforum) {
        iforum.addEventListener("click", function (event) {
          event.preventDefault();
          alert("로그인이 필요합니다.");
        });
      }

      if (profileLink) {
        profileLink.addEventListener("click", function (event) {
          event.preventDefault();
          alert("로그인이 필요합니다.");
        });
      }

      if (likedVideosLink) {
        likedVideosLink.addEventListener("click", function (event) {
          event.preventDefault();
          alert("로그인이 필요합니다.");
        });
      }

      if (uploadLink) {
        // 동화 만들기 링크에 이벤트 리스너 추가
        uploadLink.addEventListener("click", function (event) {
          event.preventDefault();
          alert("로그인이 필요합니다.");
        });
      }
    }
  });
</script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const userName = document.getElementById("user-name").textContent;
    const followingCount = document.getElementById("following-count").textContent;
    const followerCount = document.getElementById("follower-count").textContent;
    const likeCount = document.getElementById("like-count").textContent;

    console.log("User Name:", userName);
    console.log("Following Count:", followingCount);
    console.log("Follower Count:", followerCount);
    console.log("Like Count:", likeCount);
  });
</script>