<div class="sidebar">

  <ul class="nav-list">
    <li>
      <a href="/">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">A-Iforum</span>
      </a>

    </li>
    <li>
      <a href="/login">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Login</span>
      </a>

    </li>
    <li>
      <a href="/profile">
        <i class='bx bx-user'></i>
        <span class="links_name">마이페이지</span>
      </a>

    </li>
    <li>
      <a href="/upload">
        <i class='bx bx-chat'></i>
        <span class="links_name">동화 만들기</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">구독자목록</span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">좋아요 표시한 동영상</span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class='bx bx-chat'></i>
        <span class="links_name">인기순</span>
      </a>

    </li>
    <li class="profile">
      <div class="profile-details">
        <img src="../static/sample_img/2.png" alt="profileImg">
        <div class="name_job">
          <div class="name">조영강</div>
          <div class="job">작가님</div>
        </div>
      </div>

    </li>
  </ul>
</div>